body, html { 
  overflow: hidden; 
  touch-action: manipulation;
}
body{
  padding: 0;
  margin: 0;
  background-color: WHITE;
  color: BLACK;
  touch-action: manipulation;
}
#fullscreenBtn{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  touch-action: manipulation;
}
#waiting{
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgba(0,0,0,0.8);
  z-index: 11;
  touch-action: manipulation;
}
.waiting{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: WHITE;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1.5em;
  text-align: center;
  touch-action: manipulation;
}
#background{
  position: fixed; 
  width: 100vw; 
  height: 100vh; 
  z-index: 100;
  touch-action: manipulation;
}
#Form{
  position: absolute;
  top: 50%;
  z-index: 101;
  left: 50%;
  transform: translate(-50%, -50%);
  touch-action: manipulation;
}
.checkspan{
  position: relative;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
  font-size: 2em;
  font-family: 'Balsamiq Sans', cursive;
  color: WHITE;
  touch-action: manipulation;
}
input[type=checkbox]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  touch-action: manipulation;
}
.ccheckbox{  
  position: absolute;
  top: 0.2em;
  left: 0;
  height: 0.6em;
  width: 0.6em;
  border: solid white;
  border-radius: 0.13em;
  touch-action: manipulation;
}
.checkspan:hover input ~ .ccheckbox{
  background-color: rgba(0,0,0,0.15);
  touch-action: manipulation;
}
.checkspan:checked input ~ .ccheckbox{
  background-color: #2196F3;
  touch-action: manipulation;
}
.ccheckbox:after {
  content: "";
  position: absolute;
  display: none;
  touch-action: manipulation;
}
.checkspan .ccheckbox:after {
  left: 0.2em;
  top: 0.08em;
  width: 0.15em;
  height: 0.3em;
  border: solid white;
  border-width: 0 0.08em 0.08em 0;
  transform: rotate(45deg);
  touch-action: manipulation;
}
/* Show the checkmark when checked */
.checkspan input:checked ~ .ccheckbox:after {
  display: block;
  touch-action: manipulation;
}
button{
  padding: 5px;
  background: none;
  border: none;
  border-bottom: white solid 0.1em;
  color: white;
  font-size: 2em;
  text-align: center;
  border-radius: 10px;
  font-family: 'Balsamiq Sans', cursive;
  float: right;
  cursor: pointer;
  touch-action: manipulation;
}
button:hover, button:focus{
  background-color: rgba(0,0,0,0.15);
  outline: none;
  touch-action: manipulation;
}
input[type=text]{
  padding: 5px;
  background: none;
  border: none;
  border-bottom: white solid 0.1em;
  color: white;
  font-size: 2em;
  width: 10em;
  text-align: center;
  border-radius: 10px;
  font-family: 'Balsamiq Sans', cursive;
  margin-bottom: 0.5em;
  touch-action: manipulation;
}
input[type=text]::placeholder{
  color: rgba(255, 255, 255, 0.4);
  touch-action: manipulation;
}
input[type=text]:hover, input[type=text]:focus{
  background-color: rgba(0,0,0,0.15);
  touch-action: manipulation;
  outline: none;
}
#controls{
  position: fixed; 
  width: 100vw; 
  height: 100vh; 
  background: rgba(0,0,0,0); 
  z-index: 9;
  touch-action: manipulation;
}
#scoreboard{
  position: fixed; 
  text-align: center; 
  width: 100vw; 
  height: 100vh; 
  background: rgb(0,0,0); 
  z-index: 10; 
  display: none; 
  font-family: 'Oswald', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: manipulation;
}
.joystick{
  position:fixed;
  top:0;left:0;
  background: rgba(0,0,0,0);
  z-index:6;
  touch-action: manipulation;
}
.scoreEl{ 
  font-size: 3em; 
  touch-action: manipulation;
}
.parHelper{ 
  float: bottom; 
  width: 100%; 
  touch-action: manipulation;
}

#TutorialText{
  position: absolute;
  left: 50vw;
  top: 50vh;
  width: 90%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgb(255,255,255);
  mix-blend-mode: exclusion;
  z-index: 8;
  transition: opacity 1s;
  transition-timing-function: ease-in;
  touch-action: manipulation;
}